.footer{
    width: 100%;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 195px;

    &__container{
        width: 1344px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0 96px;
    }

    &__logo{
        font-size: 60px;
        color: #6e774a;
        margin-bottom: 38px;
    }

    &__link{
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 4px;
        line-height: 40px;
        color: #6e774a;
        font-weight: 300;
        text-align: center;

        &:hover{
            color: #000000;
        }
    }

    &__col{
        width: 31%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid #6d7749;
        padding-top: 87px;
        margin-top: 3px;

        &:nth-child(2){
            border-top: none;
            width: 28%;
            margin: -130px 0 3px 0;
        }
    }

    &__bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0 55px;
    }

    &-text{
        font-size: 11px;
        letter-spacing: 3px;
        color: #6e774a;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        line-height: 24px;
    }

    &__form{
        width: 1344px;
        margin: -4px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .arrow-svg{
        fill: #6e774a;
    }

    &__form-title{
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 70px;
        color: #1c1c1b;
        text-align: center;
    }
}

.social-networks{
    margin: -2px 13px 0 24px;
    position: relative;
    padding-bottom: 90px;

    &__item{
        color: #6d7749;
        margin-right: 59px;
        font-size: 24px;

        &:last-child{
            margin-right: 0px; 
        }

        &:hover{
            color:#e0e5ce;
        }
    }

    &::after{
        position: absolute;
        display: block;
        background-color: #ced6af;
        width: 55px;
        height: 2px;
        content: "";
        transform: rotate(90deg);
        bottom: 25px;
        left: calc(50% - 36.5px);
    }
}
 
  @media screen and (max-width: 1344px){
    .footer{
        &__container{
           width: 100%;
           padding: 0;
        }

       &__col{
           width:30%;

           &:nth-child(2){
               width:30%;
           }
       }
    }
}

 @media screen and (max-width:750px){
    .footer{
        padding-top: 140px;
        &__container{
            width:80%;
            flex-direction: column;
            align-items: center;
            padding-bottom: 23px;
        }

        &__col{
            width:90%;
            padding-top: 20px;
            &:nth-child(2){
                margin: 0;
                width:90%;
            }

            &:last-child{
                border-top: none;
                border-bottom: 2px solid #6d7749;
            }
        }
    }


    .social-networks{
        padding-bottom: 30px;
        margin: 0;
        &::after{
            display:none;
        }
    }
 }


