*{
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

@media screen and (max-width: 320px){
  body{
    overflow: scroll;
  }
}